@using MvcNotePortalApp.Entities.ValueMoverModels

@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ValidationStyle.css" rel="stylesheet" />

<div class="row">

    @using (Html.BeginForm())
    {
        <section class="vh-100 mb-4">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem; border-color:dimgray;">
                            <div class="card-body p-5 text-center">

                                <h3 class="mb-5">
                                    <span class="bi bi-person-plus"></span>
                                    Kayıt Formu
                                </h3>

                                @Html.ValidationSummary(false)

                                <div class="form-outline mb-4">
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg", placeholder = "Kullanıcı adı" })
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", placeholder = "E-posta" })
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-lg", placeholder = "Şifre", type = "password" })
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control form-control-lg", placeholder = "Şifre tekrar", type = "password" })
                                </div>

                                <button class="btn btn-primary btn-lg btn-block mt-2" type="submit">Kayıt Ol</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

</div>


